%tr
  %td{:class=>"shortened"}
    = link_to(shortened_url(url_list.shortened), shortened_url(url_list.shortened))
  %td{class: 'arrow'} →
  %td{class: 'to'}
    = link_to(url_list.to, url_list.to)
    - if can?(:update, url_list)
      = link_to(edit_url_path(url_list)) do
        = '('
        = image_tag('edit.svg')
        = 'edit)'
    - if can?(:destroy, url_list)
      = link_to(url_path(url_list), method: :delete, data: { confirm: 'Are you sure you want to delete this link?' }) do
        = '('
        = image_tag('delete.svg')
        = 'delete)'
  %td
    = link_to(qr_url_path(url_list), target: '_blank') do
      = image_tag('qr.svg')
  %td{class: 'clicks'}
    = url_list.clicks
