.add_form
  = form_for(Url.new(to: (params[:url].blank?) ? 'https://' : params[:url][:to])) do |f|

    %h2 Shorten a URL
    .messages{:style => 'display: none;'}
    %div
      = f.text_field(:to, :placeholder => "URL to shorten", :tabindex => 1)
      = f.submit('Shorten', :tabindex => 3, :id => 'submit')
    %div
      = "#{root_url}"
      = f.text_field(:shortened, :placeholder => "OPTIONAL: shorten to. . . ", :tabindex => 2)
