%table
  %tr{}
    %td{:colspan => 6}
      %h2= table_title
  %tr{:class => 'top_pagination'}
    %td{:colspan => 6}
      = will_paginate urls, param_name: page_param
  %tr
    %th{class: @shortened_header}= sortable 'shortened', 'Shortened URL'
    %th{class: "arrow"}
    %th{class: @to_header}= sortable '"to"', 'Full URL'
    %th{class: "qr"}= 'QR'
    %th{class: @clicks_header}= sortable 'clicks', 'Clicks'
    %th{class: "actions"}= 'Actions'
    = render :partial => 'urls/url_list', :collection => urls
  %tr{:class => 'bottom_pagination'}
    %td{:colspan => 6}
      = will_paginate urls, param_name: page_param
